{
  "extends": [
    "standard",
    "plugin:promise/recommended"
  ],
  "plugins": [
    "node",
    "json"
  ],
  "rules": {
    "semi": [2, "always"],
    "no-multi-spaces": [1, {
      "exceptions": {
        "VariableDeclarator": true
      }
    }]
  }
}
